label.input-date-wrap
    svg.input-date-wrap__calendary
        use(href="/img/sprites/main.svg#calendary")
    input.input-date-wrap__field.input-date(type="text" name="start" readonly=true placeholder="Выберите дату")
    svg.input-date-wrap__icon
        use(href="/img/sprites/main.svg#angle")

