footer.footer
    .footer__wrapper
        .footer__socials
            include _social-list
        .footer__authors
            .footer__copyright.copyright
                span.copyright__text © 2021 «Златоустовское телевидение»
                a.copyright__policy Политика конфиденциальности
            .footer__logo.logo
                svg.logo__icon
                    use(href="/img/sprites/main.svg#logo")
