@font-face {
  font-family: 'Frank';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Frank-Regular.woff2') format('woff2'), url('../../fonts/Frank-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Frank';
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/Frank-Medium.woff2') format('woff2'), url('../../fonts/Frank-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Frank';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Frank-Bold.woff2') format('woff2'), url('../../fonts/Frank-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Frank';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Frank-Light.woff2') format('woff2'), url('../../fonts/Frank-Light.woff') format('woff');
}
